<%= form_with(model: [ @post, @post.comments.build ], local: true, data: { controller: "comments" }) do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, data: { target: "comments.content" }, class: 'form-control' %>
  </div>
  <%= form.submit 'Add Comment', class: 'btn btn-success' %>
<% end %>
