<div class="navbar">
  <div class="container-fluid">
    <!-- Link to Home when "TapThat" is clicked -->
    <%= link_to root_path, class: "navbar-brand" do %>
      <span>TapThat</span>
    <% end %>

    <% if user_signed_in? %>
      <!-- User's Avatar as Link to Profile Page -->
      <%= link_to user_path(current_user), class: "navbar-avatar" do %>
        <%= image_tag current_user.profile_url || "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "Profile" %>
      <% end %>
    <% end %>
  </div>
</div>
